*{
    margin: 0;
    padding: 0;
    
    background: #101010;
    color: #FFFFFF;

    font-family: 'Poppins';
    font-style: normal;

    text-decoration: none;
    list-style: none;

    scroll-behavior: smooth;
    /* cursor: none; */
    /* mix-blend-mode: difference; */
}

*::selection {
    background-color: #FFFFFF;
    color: black;
}

*::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

*::-webkit-scrollbar-track {
    background: #101010;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #fff;
}

/* .cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: 0.05s;
    transform: translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: difference;
}
  
.principal h1:hover ~ .cursor {
    transform: scale(6);
} */

/* Top-Logo.png */
.logo {
    position: absolute;
    width: 70px;
    height: 42px;
    left: 50px;
    top: 49px;
    
    background: url(images/Top-Logo.png);    
}

/*  Exploration Zone */
 nav {
    position: absolute;
    top: 60px;
    left: 65%;
  }

nav li {
    display: inline-flex;
    background: none;   
}
  
nav a{
    margin: 0px 40px;
    font-weight: 400;
    background: none;
    transition: 0.5s;
}

nav:hover a{
    filter: blur(5px);
    transition: 0.5s;
}

nav a:hover{
    filter: blur(0px);
}

/* Waterfall */
.item {
    width: 1px;
    height: 50px;

    animation: waterfall 7s linear infinite;
}

.lines {
    position: absolute;
    width: 100%;
    top: -70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@keyframes waterfall {
    0% {
        transform: translateY(0);
        opacity: 0.2;
    }
    50% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.2;
    }
    100% {
        transform: translateY(1500px);
        opacity: 0;
    }
}

.item:nth-child(1) {
    animation-delay: 2s;
    background: linear-gradient(#DA1727 0%, #FF1D56 50%, rgb(255, 255, 255) 100%);
    filter: drop-shadow(0 0 2px #DA1727) 
            drop-shadow(0 0 4px #FF1D56);
}

.item:nth-child(2) {
    animation-delay: 1.3s;
    background: linear-gradient(#1DFF77 0%,#BDFF00 50%, rgb(255, 255, 255) 100%);
    filter: drop-shadow(0 0 2px #1DFF77) 
            drop-shadow(0 0 4px #BDFF00);
}

.item:nth-child(3) {
    animation-delay: 3s;
    background: linear-gradient(#FF1808 0%,#FAFF1D 50%, rgb(255, 255, 255) 100%);
    filter: drop-shadow(0 0 2px #FF1808) 
            drop-shadow(0 0 4px #FAFF1D);
}

.item:nth-child(4) {
    animation-delay: 4.5s;
    background: linear-gradient(#1E11C7 0%,#581DFF 50%, rgb(255, 255, 255) 100%);
    filter: drop-shadow(0 0 2px #1E11C7) 
            drop-shadow(0 0 4px #581DFF);
}

.item:nth-child(5) {
    animation-delay: 2.2s;
    background: linear-gradient(#00FFC2 0%,#00FF66 50%, rgb(255, 255, 255) 100%);
    filter: drop-shadow(0 0 2px #00FFC2) 
            drop-shadow(0 0 4px #00FF66);
}

.item:nth-child(6) {
    animation-delay: 6s;
    background: linear-gradient(#4B0E8C 0%,#FAFF1D 50%, rgb(255, 255, 255) 100%);
    filter: drop-shadow(0 0 2px #4B0E8C) 
            drop-shadow(0 0 4px #FAFF1D);
}

.item:nth-child(7) {
    animation-delay: 7s;
    background: linear-gradient(#003D80 0%,#DA1727 50%, rgb(255, 255, 255) 100%);
    filter: drop-shadow(0 0 2px #003D80) 
            drop-shadow(0 0 4px #DA1727);
}

/* Hello World */
.principal h1 {
    position: absolute;
    width: 210px;
    left: 5%;
    top: 198px;

    /* Animation configurations */
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;

    animation: typing 3.2s steps(12),
               cursor .4s step-end infinite alternate;

    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    background-color: transparent;
    
    filter: drop-shadow(0 0 5px #ffffff7e) 
            drop-shadow(0 0 10px #807e7e);
}

/* Cursor blinking */
@keyframes cursor {
    50% {
        border-color: transparent;
    } 
}

@keyframes typing {
    from{
        width: 0;
    }
}

/* Paragraph */
.principal p {
    position: absolute;
    width: 80%;
    margin-left: 8%;
    margin-top: 280px;
    
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;

    line-height: 30px;
    justify-content: center;
    text-align: justify;    
    background: none;
}

 /* Download CV */
 .download-button {
    position: absolute;
    top: 500px;
    left: 40%;
    background: none;
 }

 /* button text */
 .download-button h4 {
    width: 250px;
    font-size: 18px;
    font-weight: 100;
    opacity: .7;
    margin-top: 20px;
 }
 .if {
    font-weight: 400;
    color: #FF1808;
    background: none;
    filter: drop-shadow(0 0 2px #FF1808) 
            drop-shadow(0 0 4px #FF00E8);            
 }

 .par {
    color: #FF8A00;
    background: none;
    filter: drop-shadow(0 0 2px #FF8A00) 
            drop-shadow(0 0 4px #FF1808);
 }

 .cor1 {
    color: #BDFF00;
    background: none;
    filter: drop-shadow(0 0 2px #5eff00) 
            drop-shadow(0 0 4px #BDFF00);
 }

 .cor2 {
    position: relative;
    top: 110px;
    color: #BDFF00;
    background: none;
    filter: drop-shadow(0 0 2px #5eff00) 
            drop-shadow(0 0 4px #BDFF00);
 }

/* Button effect  */
@property --d{
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

.download-button a{
    position: relative;
    top: 20px;
    left: 25%;
    padding: 8px;

    font-weight: 400;
    opacity: .8;
 }

.button {
    position: relative;
    aspect-ratio: 1;
    font-size: 14px;
    color: #fff;
    width: 200px;

    border-radius: 10px; 
    transition: .3s;

    cursor: pointer;
    background: none;
    border: none;
    z-index: 0;
}

.button:before {
    position: absolute;
    content: "";
    inset: -8px;
    padding: 2px;

    border-radius: 10px; 

    background: conic-gradient(from var(--d,0deg),
          #FF1808 ,
          #0000 30deg 120deg,
          #730C38 150deg 180deg,
          #0000 210deg 300deg,
          #FF1808 330deg
      );

      -webkit-mask:
          linear-gradient(#000 0 0) content-box,
          linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
              mask-composite: intersect
}

.button:after {
      position: absolute;
      content: "";
      inset: -20px;
      filter: blur(60px);
      opacity: .5;
      }
  
.button:before, .button:after {
transition:.1s, 99999s 99999s transform, 99999s 99999s --d;
}
    
.button:hover:after {
      transform: rotate(3600deg);
      transition: .1s,20s linear transform;
}

.button:hover:before {
      --d: 3600deg;
      transition: .1s,20s linear --d;
}

.button:hover:before {
      background-color: #222;
 }

 /* Skills */
 /* Principal Title */
.skills h2{
    position: absolute;
    top: 690px;
    left: 66px;
    width: 100px;

    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;

    animation: typing 2s steps(6),
               cursor .4s step-end infinite alternate;

    background: none;
    
    filter: drop-shadow(0 0 5px #ffffff7e) 
            drop-shadow(0 0 10px #807e7e);
}

/* ↓ ↓ ↓ Laguages ↓ ↓ ↓ */

/* nav */
.languages-navbar {
    position: absolute;
    width: 7rem;
    height: 27vh;
    top: 780px;
    left: 10%;

    transition: width 600ms ease;

    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(4px);

    border-radius: 10px;
    overflow: auto;
    opacity: 1;
}

.languages-navbar::-webkit-scrollbar , .tools-navbar::-webkit-scrollbar{
    width: 0;
    height: 0px;
}

.languages-navbar:hover::-webkit-scrollbar , .tools-navbar:hover::-webkit-scrollbar {
    width: 0.15rem;
    opacity: 1;
}

.languages-navbar::-webkit-scrollbar-corner , .tools-navbar::-webkit-scrollbar-corner{
    display: none;
}

.languages-navbar::-webkit-scrollbar-thumb , .tools-navbar::-webkit-scrollbar-thumb {
    width: 0;
    border-radius: 0px;
    background-color: #bbbbbb;
}

/* title */
h3 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    
    letter-spacing: 0.065em;

    background: none;            
    text-align: center;
}

.languages-navbar h3 {
    color: #FF1808;
    transition: 2s;
}

/* ul */
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
    padding: 0;
    margin: 0;

    background: none;
}

/* li */
.nav-item {
    width: 100%;
    align-items: center;
    margin: 0.9rem;
    margin-top: 20px;
}

/* Span */
.link-text {
    display: none;
    transition: width 600ms ease;
    background-color: transparent;
}

/* images */
.nav-item svg {
    min-width: 2rem;
    margin: 0 2.5rem;
    filter: drop-shadow(0 0 1px #ffffff7e) 
            drop-shadow(0 0 2px #807e7e);
    
    background-color: transparent;            
}

.languages-navbar:hover {
    width: 12rem;
}

.languages-navbar:hover .link-text {
    transition: 1s;
    display: block;
}

.languages-navbar:hover h3 {
    text-shadow: 0px 0px 5px #FF1808;
    transition: 0.3s;
}

/* ↓ ↓ ↓ Web ↓ ↓ ↓*/
.web-navbar {
    position: absolute;
    width: 7rem;
    height: 27vh;
    top: 780px;
    left: calc(17% + 8rem);

    transition: width 600ms ease;
    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;
}
.web-navbar h3 {
    color: #DA1727;
    transition: 2s;
}

.web-navbar svg {
    margin-top: -12px;   
}    

.web-navbar:hover {
    width: 11.7rem;
}

.web-navbar:hover .link-text {
    display: block;
}

.web-navbar:hover h3 {
    text-shadow: 0px 0px 5px #DA1727;
    transition: 0.3s;
}

/* ↓ ↓ ↓ Data Base ↓ ↓ ↓*/
.db-navbar {
    position: absolute;
    width: 7rem;
    height: 27vh;
    top: 780px;
    left: calc(25% + 15rem);

    transition: width 600ms ease;
    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;
}

.db-navbar h3 {
    color: #BC1641;
    transition: 2s;
}

.db-navbar svg {
    margin-top: -12px;   
}

.db-navbar:hover {
    width: 15rem;
}

.db-navbar:hover .link-text {
    display: block;
}

.db-navbar:hover h3 {
    text-shadow: 0px 0px 5px #BC1641;
    transition: 0.3s;
}

/* ↓ ↓ ↓ Frameworks ↓ ↓ ↓*/
.frameworks-navbar {
    position: absolute;
    width: 7rem;
    height: 27vh;
    top: 780px;
    left: calc(44% + 15rem);

    transition: width 600ms ease;
    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;
}

.frameworks-navbar h3 {
    color: #74147E;
    transition: 2s;
}

.frameworks-navbar svg {
    margin-top: -10px;   
}

.frameworks-navbar:hover {
    width: 14rem;
}

.frameworks-navbar:hover .link-text {
    display: block;
}

.frameworks-navbar:hover h3 {
    text-shadow: 0px 0px 5px #74147E;
    transition: 0.3s;
}

/* ↓ ↓ ↓ Tools ↓ ↓ ↓*/
.tools-navbar {
    position: absolute;
    width: 5rem;
    height: 27vh;
    top: 780px;
    left: calc(64% + 14rem);

    transition: width 600ms ease;
    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    overflow: scroll;
    opacity: 1;
}

.tools-navbar h3 {
    color: #1E11C7;
    transition: 2s;
}

.tools-navbar svg {
    margin-top: -11px;
    margin-left: 25px;
}

.tools-navbar:hover {
    width: 14rem;
}

.tools-navbar:hover .link-text {
    display: block;
}

.tools-navbar:hover h3 {
    text-shadow: 0px 0px 5px #1E11C7;
    transition: 0.3s;
}

/* Learning */
.learning {
    position: absolute;
    top: 302px;
    width: 0;
    background: none;
}

.learning h2 {
    position: absolute;
    top: 800px;
    left: 66px;
    width: 175px;

    font-weight: 400;
    font-size: 40px;
    line-height: 50px;  
    
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;

    animation: typing 2s steps(8),
               cursor .4s step-end infinite alternate;

    background: none;
    
    filter: drop-shadow(0 0 5px #ffffff7e) 
            drop-shadow(0 0 10px #807e7e);
}

/* ↓ ↓ ↓ AWS ↓ ↓ ↓ */
.aws-container svg{
    position: relative;
    top: 880px;
    left: 7.8rem;

    padding: 12px;
    border-radius: 15px;

    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(4px);
}

/* nav */
.aws-navbar {
    position: absolute;
    width: 15rem;
    top: 950px;
    left: 7.8rem;
    
    align-content: center;
    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(4px);

    display: none;
    border-radius: 15px;
}

/* ul */
.learning-nav {
    display: flex;
    flex-direction: column;
    width: 94%;
    
    list-style: none;
    padding: 0;
    margin: 0;
    background: transparent;
}

.box-title {
    padding: 0px;
    margin-left: 65px;

    font-weight: 400;
    font-size: 18px;
    line-height: 50px;

    background: transparent;
}

/* li */
.nav-items {
    width: 100%;
    margin-left: 2rem;
    background: transparent;
    transition: 2s;
}

/* span */
.learning-text {
    background: transparent;
    font-weight: 275;
    margin: 0.9rem;
}

.aws-container svg:hover {
    opacity: .2;
    transition: .2s;
    
}

.aws-container:hover .aws-navbar {
    display: block;
    transition: 2s;
    opacity: 1;
}

/* ↓ ↓ ↓ Dockers and Kubernets ↓ ↓ ↓ */
.dockers-images{
    position: relative;
    display: flex;
    top: 806px;
    left: 40rem;

    width: 10vh;
    padding: 15px;
    justify-content: center;
    border-radius: 15px;

    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(4px);
}

.dockers-images svg {
    margin-left: 5px;
    background: none;
}

.dockers-navbar .box-title {
    font-size: 14px;
    margin-left: 0px;
    background: transparent;
}

/* nav */
.dockers-navbar {
    position: absolute;
    width: 15rem;
    top: 955px;
    left: 40rem;
    
    align-content: center;
    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(8px);

    display: none;
    border-radius: 15px;
}

.dockers-images:hover {
    opacity: .2;
    transition: .2s;
}

.dockers-container:hover .dockers-navbar {
    display: block;
    transition: 2s;
    opacity: 1;
}

/* Footer */
footer {
    position: absolute;
    width: 100%;
    top: 1500px;
    background: none;
}

.footer-line {
    position: relative;
    height: 1px;
    width: 90%;
    left: calc(100% - 95.4%);

    opacity: .2;
    background: #FFFFFF;
}

/* logo */
.img{
    position: relative;
    width: 55px;
    height: 35px;
    top: 6px;
    left: calc(100% - 95.4%);
    
    background: url("images\Footer-logo.png") no-repeat;
}

/* copyright text */
footer h4{
    position: relative;
    width: 150px;
    height: 0px;
    top: 13px;

    font-weight: 300;
    font-size: 12px;

    left: calc(100% - 25%);
    background: none;
}

/* back to top */
.top-txt {
    position: relative;
    width: 80px;
    height: 0px;
    top: 12px;

    font-size: 12px;
    left: calc(100% - 11.4%);

    cursor: pointer;
}

/* social icons */
footer ul{
    position: relative;
    top: 5px;
    height: 0px;
    left: 44%;
    width: 150px;

    background-color: transparent;
}

/* Icons */
.footer-nav{
    display: flex;
    margin-left: 10px;
}

.footer-nav li{
    margin-right: 10px;
}