*{
    margin: 0;
    padding: 0;
    
    background: #101010;
    color: #FFFFFF;

    font-family: 'Poppins';
    font-style: normal;

    text-decoration: none;
    list-style: none;

    scroll-behavior: smooth;
    /* cursor: none; */
    /* mix-blend-mode:difference; */
}

*::selection {
    background-color: #FFFFFF;
    color: black;
}

*::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

*::-webkit-scrollbar-track {
    background: #101010;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #fff;
}

/* .cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: 0.05s;
    transform: translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: difference;
}
  
.principal h1:hover ~ .cursor {
    transform: scale(6);
} */

/* Top-Logo.png */
.logo {
    position: absolute;
    width: 70px;
    height: 42px;
    left: 50px;
    top: 49px;
    
    background: url(images/Top-Logo.png);    
}

/*  Exploration Zone */
 nav {
    position: absolute;
    top: 60px;
    left: 65%;
  }

  nav li {
	display: inline-flex;
    background: none;
  }
  
  nav a{
    margin: 0px 40px;
    font-weight: 400;
    background: none;
    transition: 0.5s;
  }
  
  nav:hover a{
    filter: blur(5px);
    transition: 0.5s;
  }
  
  nav a:hover{
    filter: blur(0px);
  }

/* Hello World */
.principal h1 {
    position: absolute;
    width: 210px;
    left: 5%;
    top: 198px;

    /* Animation configurations */
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;

    animation: typing 3.2s steps(12),
               cursor .4s step-end infinite alternate;

    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    background-color: transparent;
    
    filter: drop-shadow(0 0 5px #ffffff7e) 
            drop-shadow(0 0 10px #807e7e);
}

/* Cursor blinking */
@keyframes cursor {
    50% {
        border-color: transparent;
    } 
}

@keyframes typing {
    from{
        width: 0;
    }
}

/* Paragraph */
.principal p {
    position: absolute;
    width: 80%;
    margin-left: 100px;
    margin-top: 300px;
    
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    line-height: 26px;
    justify-content: center;
    text-align: justify;    
    background: none;
}

 /* Download CV */
 .download-button {
    position: absolute;
    top: 500px;
    left: 40%;
    background: none;
 }

 .download-button h4 {
    font-weight: 100;
    opacity: .4;
    background: none;
    margin-top: 20px;
 }

/* button effect  */
@property --d{
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

.download-button a{
    position: relative;
    top: 50px;
    left: 20%;
    padding: 8px;

    font-weight: 400;
    opacity: .8;
 }

.button {
    position: relative;
    aspect-ratio: 1;
    font-size: 14px;
    color: #fff;
    width: 200px;

    border-radius: 10px; 
    transition: .3s;

    cursor: pointer;
    background: none;
    border: none;
    z-index: 0;
}

.button:before {
    position: absolute;
    content: "";
    inset: -8px;
    padding: 2px;

    border-radius: 10px; 

    background: conic-gradient(from var(--d,0deg),
          #FF1808 ,
          #0000 30deg 120deg,
          #730C38 150deg 180deg,
          #0000 210deg 300deg,
          #FF1808 330deg
      );

      -webkit-mask:
          linear-gradient(#000 0 0) content-box,
          linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
              mask-composite: intersect
}

.button:after {
      position: absolute;
      content: "";
      inset: -20px;

      background:
          radial-gradient(20px at left  30px top    10px,#FF1808 98%,#0000),
          radial-gradient(20px at right 30px bottom 10px,#730C38 98%,#0000);
      filter: blur(60px);
      opacity: .5;
      }
  
.button:before, .button:after {
transition:.1s, 99999s 99999s transform, 99999s 99999s --d;
}
    
.button:hover:after {
      transform: rotate(3600deg);
      transition: .1s,20s linear transform;
}

.button:hover:before {
      --d: 3600deg;
      transition: .1s,20s linear --d;
}

.button:hover:before {
      background-color: #222;
 }

/* Text if you want more details */
 .if {
    font-size: 18px;
    font-size: 400;
    color: #FF1808;
    background: none;

    filter: drop-shadow(0 0 2px #FF1808) 
            drop-shadow(0 0 4px #FF00E8);
 }

 .ac{
    font-size: 18px;
    font-size: 400;
    color: #FF8A00;
    background: none;

    filter: drop-shadow(0 0 2px #FF8A00) 
            drop-shadow(0 0 4px #FF1808);
 }

 /* Skills */

 /* Principal Title */
.skills h2{
    position: absolute;
    top: 690px;
    left: 66px;
    width: 100px;

    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;

    animation: typing 2s steps(6),
               cursor .4s step-end infinite alternate;

    background: none;
    
    filter: drop-shadow(0 0 5px #ffffff7e) 
            drop-shadow(0 0 10px #807e7e);
}

/* ↓ ↓ ↓ Laguages ↓ ↓ ↓ */

/* nav */
.languages-navbar {
    position: absolute;
    width: 7rem;
    height: 27vh;
    top: 780px;
    left: 10%;

    transition: width 600ms ease;

    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(17.5px);

    border-radius: 10px;
    overflow: auto;
    opacity: 1;
}

.languages-navbar::-webkit-scrollbar , .tools-navbar::-webkit-scrollbar{
    width: 0;
    height: 0px;
}

.languages-navbar:hover::-webkit-scrollbar , .tools-navbar:hover::-webkit-scrollbar {
    width: 0.15rem;
    opacity: 1;
}

.languages-navbar::-webkit-scrollbar-corner , .tools-navbar::-webkit-scrollbar-corner{
    display: none;
}

.languages-navbar::-webkit-scrollbar-thumb , .tools-navbar::-webkit-scrollbar-thumb {
    width: 0;
    border-radius: 0px;
    background-color: #bbbbbb;
}

/* title */
h3 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    
    letter-spacing: 0.065em;

    background: none;            
    text-align: center;
}

.languages-navbar h3 {
    color: #FF1808;
    transition: 2s;
}

/* ul */
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: none;
}

/* li */
.nav-item {
    width: 100%;
    align-items: center;
    margin: 0.9rem;
    margin-top: 20px;
}

/* Span */
.link-text {
    display: none;
    transition: width 600ms ease;
    background-color: transparent;
}

/* images */
.nav-item svg {
    min-width: 2rem;
    margin: 0 2.5rem;
    filter: drop-shadow(0 0 1px #ffffff7e) 
            drop-shadow(0 0 2px #807e7e);
    
    background-color: transparent;            
}

.languages-navbar:hover {
    width: 12rem;
}

.languages-navbar .nav-item svg:hover {
    filter: drop-shadow(0 0 4px #0059ff7e) 
            drop-shadow(0 0 2px #9500ff);
}

.languages-navbar:hover .link-text {
    transition: 1s;
    display: block;
}

.languages-navbar:hover h3 {
    text-shadow: 0px 0px 5px #FF1808;
    transition: 0.3s;
}

/* ↓ ↓ ↓ Web ↓ ↓ ↓*/
.web-navbar {
    position: absolute;
    width: 7rem;
    height: 27vh;
    top: 780px;
    left: calc(17% + 8rem);

    transition: width 600ms ease;
    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(17.5px);
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;
}
.web-navbar h3 {
    color: #DA1727;
    transition: 2s;
}

.web-navbar:hover {
    width: 11.7rem;
}

.web-navbar:hover .link-text {
    display: block;
}

.web-navbar:hover h3 {
    text-shadow: 0px 0px 5px #DA1727;
    transition: 0.3s;
}

/* ↓ ↓ ↓ Data Base ↓ ↓ ↓*/
.db-navbar {
    position: absolute;
    width: 7rem;
    height: 27vh;
    top: 780px;
    left: calc(25% + 15rem);

    transition: width 600ms ease;
    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(17.5px);
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;
}

.db-navbar h3 {
    color: #BC1641;
    transition: 2s;
}

.db-navbar:hover {
    width: 15rem;
}

.db-navbar:hover .link-text {
    display: block;
}

.db-navbar:hover h3 {
    text-shadow: 0px 0px 5px #BC1641;
    transition: 0.3s;
}

/* ↓ ↓ ↓ Frameworks ↓ ↓ ↓*/
.frameworks-navbar {
    position: absolute;
    width: 7rem;
    height: 27vh;
    top: 780px;
    left: calc(44% + 15rem);

    transition: width 600ms ease;
    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(17.5px);
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;
}

.frameworks-navbar h3 {
    color: #74147E;
    transition: 2s;
}

.frameworks-navbar:hover {
    width: 14rem;
}

.frameworks-navbar:hover .link-text {
    display: block;
}

.frameworks-navbar:hover h3 {
    text-shadow: 0px 0px 5px #74147E;
    transition: 0.3s;
}

/* ↓ ↓ ↓ Tools ↓ ↓ ↓*/
.tools-navbar {
    position: absolute;
    width: 5rem;
    height: 27vh;
    top: 780px;
    left: calc(64% + 14rem);

    transition: width 600ms ease;
    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(17.5px);
    border-radius: 10px;
    overflow: scroll;
    opacity: 1;
}

.tools-navbar h3 {
    color: #1E11C7;
    transition: 2s;
}

.tools-navbar .nav-item svg {
    margin-left: 25px;
}

.tools-navbar:hover {
    width: 14rem;
}

.tools-navbar:hover .link-text {
    display: block;
}

.tools-navbar:hover h3 {
    text-shadow: 0px 0px 5px #1E11C7;
    transition: 0.3s;
}

/* Learning */
.learning {
    position: absolute;
    top: 302px;
}

.learning h2 {
    position: absolute;
    top: 840px;
    left: 66px;
    width: 175px;

    font-weight: 400;
    font-size: 40px;
    line-height: 50px;  
    
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;

    animation: typing 2s steps(8),
               cursor .4s step-end infinite alternate;

    background: none;
    
    filter: drop-shadow(0 0 5px #ffffff7e) 
            drop-shadow(0 0 10px #807e7e);
}

/* AWS */
.aws-navbar{ 
    position: absolute;
    top: 850px;

    font-weight: 300;

    background: none;
}

.aws-navbar {
    position: absolute;
    width: 7rem;
    height: 40vh;
    top: 1150px;
    left: 120%;  
    
    background-color: #222;
    opacity: 1;
}
.nav-items {
    width: 100%;
    align-items: center;
}

/* Containers and Kubernets*/
.containers h3 {
    position: relative;
    top: 1150px;
    left: 31%;

    font-weight: 300;

    background: none;
}

.containers ul {
    position: relative;
    display: flexbox;
    top: 1185px;
    left: 31%;

    background: none;
}

.containers h4 {
    font-weight: 100;
    background: none;
}

/* Footer */
footer {
    position: absolute;
    width: 100%;
    top: 2000px;
    background: none;
}

.footer-line {
    position: relative;
    height: 1px;
    width: 90%;
    left: calc(100% - 95.4%);

    opacity: .2;
    background: #FFFFFF;
}

/* logo */
.img{
    position: relative;
    width: 55px;
    height: 35px;
    top: 6px;
    left: calc(100% - 95.4%);
    
    background: url("images\Footer-logo.png") no-repeat;
}

/* copyright text */
footer h4{
    position: relative;
    width: 150px;
    height: 0px;
    top: 13px;

    font-weight: 300;
    font-size: 12px;

    left: calc(100% - 25%);
    background: none;
}

/* back to top */
.top-txt {
    position: relative;
    width: 80px;
    height: 0px;
    top: 12px;

    font-size: 12px;
    left: calc(100% - 11.4%);

    cursor: pointer;
}

/* social icons */
footer ul{
    position: relative;
    top: 5px;
    height: 0px;
    left: 44%;
    width: 150px;

    background-color: transparent;
}

/* Icons */
.footer-nav{
    display: flex;
    margin-left: 10px;
}

.footer-nav li{
    margin-right: 10px;
}