/* Home */
*{
    margin: 0;
    padding: 0;
    background: #060600;
    color: #FFFFFF;

    font-family: 'Poppins';
    font-style: normal;

    list-style: none;
    text-decoration: none;
}

*::selection {
    background-color: #FFFFFF;
    color: black;
}

/* Logo.png */
.logo {
    position: absolute;
    width: 70px;
    height: 42px;
    left: 50px;
    top: 49px;

    background: url(images/Top-Logo.png);
}

/* Language */
.lan{
    position: absolute;
    height: 0px;
    width: 59px;
    left: 60px;
    top: 125px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lan:hover a {
    text-shadow: 0px -2px red,
                 0px 2px cyan,
                 -2px 0px red,
                 2px 0px cyan;
}

.lan a::before {
    content: attr(data-text);
    position: relative;
    width: 70px;
    height: 42px;
    left: 19px;
    top: 0px;
    
    color: white;
}

 .lan:hover a::before {
    animation: animate 5ms ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        top: -7px;
        left: 0;
        opacity: 0.5;
    }
    20% {
        top: 0px;
        left: -10;
        opacity: 0.7;
    }
    40% {
        top: 7px;
        left: 0;
        opacity: 0.2;
    }
    60% {
        top: 0px;
        left: 10px;
        opacity: 0.3;
    }
    0%,100% {
        top: 0;
        left: 0;
        opacity: 0.9;
    }
}



/* AMPARO OBANDO */
h1 {
    position: absolute;
    width: 1017px;
    height: 236px;
    left: 85px;
    top: 216px;
    
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 500;
    font-size: 115px;
    line-height: 162px;
    letter-spacing: 0.05em;
    
    background: linear-gradient(90deg, rgba(30, 17, 199, 0.3) 0%, rgba(188, 22, 65, 0.3) 33.33%, rgba(218, 23, 39, 0.3) 66.67%, rgba(255, 24, 8, 0.3) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* SOFTWARE ENGINEER, BACK END & CLOUD DEVELOPER. */
h2 {
    position: absolute;
    width: 475px;
    height: 26px;
    left: 50px;
    top: 590px;
    
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;   
}

/* Exploration zone */
.exp{
    position: absolute;
    left:1090px;
    top: 20px;
    display: flex;
    text-align: right;
    background-color: transparent;
}

.exp li {
    position: relative;
    height: 100px;
    
    letter-spacing: 0.080em;
    font-weight: 300;
    font-size: 16px;
    margin-top: 80px;

    transform: rotate(90deg);
}

ul li:hover a {
    text-shadow: 0px -2px red,
                 0px 2px cyan,
                 -2px 0px red,
                 2px 0px cyan;
}

ul li a::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;

    width: 88px;
    display: flex;
    justify-content: right;
    
    color: white;
}

ul li:hover a::before {
    animation: animate 5ms ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        top: -7px;
        left: 0;
        opacity: 0.5;
    }
    20% {
        top: 0px;
        left: -10;
        opacity: 0.7;
    }
    40% {
        top: 7px;
        left: 0;
        opacity: 0.2;
    }
    60% {
        top: 0px;
        left: 10px;
        opacity: 0.3;
    }
    0%,100% {
        top: 0;
        left: 0;
        opacity: 0.9;
    }
}


/* Game Zone */
.material-symbols-rounded { /* play button */
    position: absolute;
    width: 159px;
    height: 0px;
    left: 190px;
    top: 404px;        
}

 .game {             /*Square*/
    position: absolute;
    width: 450px;   /*Ancho*/
    height: 220px;  /*Largo*/
    left: 400px;
    top: 250px;
    
    background: rgba(217, 217, 217, 0.0);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.0);
    backdrop-filter: blur(0px);
    
    border-radius: 20px;
}
