/* Home */
*{
    margin: 0;
    padding: 0;
    
    background: #101010;
    color: #FFFFFF;

    font-family: 'Poppins';
    font-style: normal;

    list-style: none;
    text-decoration: none;

    /* mix-blend-mode: exclusion; */
}

*::selection {
    background-color: #FFFFFF;
    color: black;
}

/* Logo.png */
.logo {
    position: absolute;
    width: 70px;
    height: 42px;
    left: 50px;
    top: 49px;

    background: url(images/Top-Logo.png);
}

/* Active */

#en-active ~ .en {
    visibility: visible;
}
#en-active ~ .en {
    visibility: visible;
}

.es {
    visibility: hidden;
}

/* Language */
.lan{
    position: absolute;
    height: 0px;
    width: 59px;
    left: 60px;
    top: 125px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lan a{
    position: relative;
    font-size: 15px;
    letter-spacing: 0.5px;
    background: none;
    opacity: .3;
    transition: .7s;
}

.lan a:hover{
    background: none;
    filter: drop-shadow(0 0 6px #ffffff) 
            drop-shadow(0 0 11px #807e7e);
    transition: .7s;            
    opacity: 1;
}

/* AMPARO OBANDO */
h1 {
    position: absolute;
    width: 1017px;
    height: 236px;
    left: 85px;
    top: 216px;
    
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 500;
    font-size: 115px;
    line-height: 162px;
    letter-spacing: 0.05em;
    
    background: linear-gradient(90deg, rgba(30, 17, 199, 0.3) 0%, rgba(188, 22, 65, 0.3) 33.33%, rgba(218, 23, 39, 0.3) 66.67%, rgba(255, 24, 8, 0.3) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* SOFTWARE ENGINEER, BACK END & CLOUD DEVELOPER. */
.en h2 {
    position: absolute;
    width: 475px;
    height: 26px;
    left: 50px;
    top: 590px;
    
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;   

    background: none;
}

/* Exploration zone */
.en .exp{
    position: absolute;
    left: 85%;
    top: -40px;

    display: flex;
    text-align: right;
    text-shadow: 0px 0px 4px #000000;
    background-color: transparent;
}

.en .exp ul {
    width: 0px;
}

.en .exp li {
    position: relative;
    display: flex;    
    
    width: 80px;
    justify-content: right;
    text-align: left;
    
    letter-spacing: 0.080em;
    font-weight: 300;
    font-size: 16px;
    margin-top:170px;

    transform: rotate(90deg);
}
.en ul li a {
    transform: rotate(0deg);
    transition: 0.5s;
    background: none;
}
.en ul:hover li a {
    filter: blur(5px);
    transition: 0.5s;
}
.en ul li:hover a {
    filter: blur(0px);
    transform: rotate(-90deg);
    filter: drop-shadow(0 0 5px #ffffff7e) 
            drop-shadow(0 0 10px #807e7e);
}

/* Game Zone */
.material-symbols-rounded { /* play button */
    position: absolute;
    width: 159px;
    height: 0px;
    left: 190px;
    top: 404px;        
}

.game {             /*Square*/
    position: absolute;
    width: 450px;   /*Ancho*/
    height: 220px;  /*Largo*/
    left: 400px;
    top: 250px;
    
    background: rgba(217, 217, 217, 0.0);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.0);
    backdrop-filter: blur(0px);
    
    border-radius: 20px;
}

/* ↓ ↓ ↓ Spanish zone ↓ ↓ ↓ */
.es h2 {
    position: absolute;
    width: 475px;
    height: 26px;
    left: 50px;
    top: 590px;
    
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;   
}

.es .exp{
    position: absolute;
    left: 85%;
    top: -50px;

    display: flex;
    text-align: right;
    text-shadow: 0px 0px 4px #000000;
    background-color: transparent;
}

.es .exp ul {
    width: 0px;
}

.es .exp li {
    position: relative;
    display: flex;    
    
    width: 90px;
    justify-content: right;
    text-align: left;
    
    letter-spacing: 0.080em;
    font-weight: 300;
    font-size: 16px;
    margin-top:170px;

    transform: rotate(90deg);
}
.es ul li a {
    background: none;
}
.es ul:hover li a {
    filter: blur(5px);
    transition: 1s;
}
.es ul li:hover a {
    filter: blur(0px);
    transform: rotate(-90deg);
    filter: drop-shadow(0 0 5px #ffffff7e) 
            drop-shadow(0 0 10px #807e7e);
}