/* Home */
*{
    margin: 0;
    padding: 0;
    background: #101010;
    color: #FFFFFF;

    font-family: 'Poppins';
    font-style: normal;

    list-style: none;
    text-decoration: none;
}

*::selection {
    background-color: #FFFFFF;
    color: black;
}

/* Top-Logo.png */
.logo {
    position: absolute;
    width: 70px;
    height: 42px;
    left: 50px;
    top: 49px;

    background: url(images/Top-Logo.png);
}

/* Language */
.lan{
    position: absolute;
    height: 0px;
    width: 59px;
    left: 1135px;
    top: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lan a{
    position: relative;
    color: #a0a0a0;
    font-size: 15px;
    letter-spacing: 0.5px;
    
}
.lan a:after{
    content: "";
    position: absolute;
    background:  #FFFFFF;
    height: 2px;
    width: 0;
    left: 0;
    top: -2px;
    transition: 0.3s;
}
.lan a:hover{
    color: #ffffff;
}
.lan a:hover:after{
    width: 100%;
}

/* AMPARO OBANDO */
h1 {
    position: absolute;
    width: 390px;
    height: 62px;
    left: 80px;
    top: 150px;
    
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    
    background: linear-gradient(90deg, #1E11C7 0%, #BC1641 33.33%, #DA1727 66.67%, #FF1808 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

/* SOFTWARE ENGINEER, BACK END & CLOUD DEVELOPER. */
h2 {
    position: absolute;
    width: 475px;
    height: 26px;
    left: 80px;
    top: 229px;
    
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;   
}

/* Exploration zone */
.exp{
    position: absolute;
    height: 0px;
    top: 170px;

    display: flex;
    justify-content: center;
    background-color: transparent;
}

.exp li{
    position: relative;
    left:1030px;

    font-weight: 300;
    font-size: 18px;
    margin-top: 80px;
}

.exp:hover li{
    filter: brightness(#DA1727);
}

/* Game Zone */

.material-symbols-rounded { /* play button */
    position: absolute;
    width: 109px;
    height: 0px;
    left: 290px;
    top: 404px;        
}

.game {             /*Square*/
    position: absolute;
    width: 420px;   /*Ancho*/
    height: 220px;  /*Largo*/
    left: 100px;
    top: 300px;
    
    background: rgba(217, 217, 217, 0.2);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
    
    border-radius: 20px;
}

/* © Copyright 2022. Made by Ampi */
footer {
    position: absolute;
    width: 265px;
    height: 24px;
    top: 597px;
    text-align: center;
    
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    
    opacity: 0.2;    
}