*{
    position: absolute;
    background: #060600;
    color: #FFFFFF;

    text-decoration: none;
    list-style: none;
}
*::selection {
    background-color: #FFFFFF;
    color: black;
}
/* Top-Logo.png */
.logo {
    width: 70px;
    height: 42px;
    left: 50px;
    top: 49px;
    
    background: url(images/Top-Logo.png);    
}

/* Exploration Zone */
nav{
    height: 0px;
    top: 55px;

    min-width: 450px;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}

nav a{
    position: relative;
    left: 730px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}
nav:hover a{
    filter: blur(5px);
    transition: .2s;
}

nav a:hover{
    filter: blur(0px);
}

/* Footer */
footer p{
    width: 262px;
    height: 27.67px;
    left: 491px;
    top: 2499.33px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    opacity: 0.6;
}

footer .logo{
    width: 54px;
    height: 32px;
    left: 41px;
    top: 2471px;
    
    background: url(Ampi-logo-editable-white.png);
    opacity: 0.6;    
}

footer img {
    width: 32px;
    top: 2467.71px; 
    height: 30.5px;
    opacity: 0.6;
}

.dis{
    left: 1146px;      
}

.gm{
    left: 1194px;   
}

.li{
    left: 1098px;   
}

.git{
    left: 1050px;   
}